In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv('MScFE 650 MLF GWP Data.csv', index_col='Date')
data.head()

,LUXXX,MSCI ARGENTINA,BLP ORIENTE MEDIO,MSCI AUSTRALIA,MSCI AUSTRIA,MSCI BELGIUM,MSCI BRAZIL,MSCI CANADA,MSCI CHINA,MSCI DENMARK,...,MSCI NORWAY,MSCI PERU,MSCI RUSSIA,MSCI SINGAPORE,MSCI SOUTH AFRICA,MSCI SPAIN,MSCI SWEDEN,MSCI SWITZERLAND,MSCI UK,MSCI USA
Date,,,,,,,,,,,,,,,,,,,,,
1-Jan-16,1390.716,2376.29,3525.9150,1068.79,106.70,105.38,1036.23,1663.27,59.47,8566.71,...,2373.17,811.96,404.73,1507.8101,1255.75,108.40,11136.65,1148.37,1818.40,1949.70
8-Jan-16,1291.267,2260.85,3280.6683,1005.56,97.66,99.35,952.01,1586.18,54.63,8183.00,...,2209.38,751.09,388.05,1437.6600,1177.76,101.00,10389.93,1075.30,1722.00,1831.88
15-Jan-16,1257.086,2217.50,3118.2981,985.38,93.54,97.32,904.64,1541.08,51.54,7755.73,...,2095.60,720.23,344.45,1372.9800,1133.72,97.34,10042.32,1056.01,1692.43,1789.56
22-Jan-16,1254.167,2281.98,2935.0677,985.87,95.79,100.73,879.17,1582.10,51.15,8035.69,...,2173.55,745.96,367.44,1350.0500,1160.48,99.21,10469.07,1076.48,1719.61,1814.12
29-Jan-16,1298.240,2462.19,3134.0840,1005.56,96.93,103.05,958.97,1638.84,52.13,8211.17,...,2214.88,825.18,400.93,1375.1000,1239.58,100.06,10432.42,1087.17,1774.40,1843.88

In [ ]:
from scipy import stats

#calculate 0% trimmed mean
mean = stats.trim_mean(data, 0)

#calculate 5% trimmed mean
mean_5p = stats.trim_mean(data, 0.05)

#calculate 50% trimmed mean
mean_50p = stats.trim_mean(data, 0.50)

print("Array of means of data set is: \n" + str(mean))
print("Array of means of 5% trimmed data set is: \n" + str(mean_5p))
print(data.describe())

Array of means of data set is:
[ 1457.23190476  2526.6522619   3029.48297817  1183.94015873
   127.41888889    91.2902381   1813.98916667  1970.82162698
    76.78821429  8447.6577381    509.41305556   247.07940873
   304.08464286  2502.4627381    121.92527778   145.76547619
   143.52289683 14216.93115079  1187.46797619    55.79912698
   943.75214286   647.38190476  4875.085        141.9881746
   145.90444444  2720.59718254  1460.50781746   595.2077381
  1618.22075476  1348.08813492   106.6734127  12385.38904762
  1208.08146825  2013.18757937  2526.44853175]
Array of means of 5% trimmed data set is:
[ 1467.80062281  2510.84807018  3054.05824693  1183.27605263
   127.51929825    92.04377193  1829.17298246  1977.83035088
    76.86192982  8378.56302632   510.59675439   247.29142982
   304.36464912  2519.50013158   122.29482456   145.74372807
   143.89929825 14251.03065789  1190.83460526    55.86135965
   945.63451754   648.34741228  4908.4002193    141.98302632
   144.70925439  2728.34780702  1470.9120614    594.61048246
  1618.83886053  1350.33850877   107.11710526 12385.66368421
  1205.72469298  2023.13149123  2521.96662281]
             LUXXX  MSCI ARGENTINA  BLP ORIENTE MEDIO  MSCI AUSTRALIA  \
count   252.000000      252.000000         252.000000      252.000000
mean   1457.231905     2526.652262        3029.482978     1183.940159
std     238.611226      899.378857         516.678825      101.261295
min     871.500000      844.090000        1722.870000      957.150000
25%    1320.741000     1773.735000        2730.897500     1125.265000
50%    1491.081000     2541.975000        3113.414050     1177.375000
75%    1656.015500     3138.222500        3460.390000     1241.797500
max    1812.010000     4467.410000        3750.865500     1431.460000

       MSCI AUSTRIA  MSCI BELGIUM  MSCI BRAZIL  MSCI CANADA  MSCI CHINA  \
count    252.000000    252.000000   252.000000   252.000000  252.000000
mean     127.418889     91.290238  1813.989167  1970.821627   76.788214
std       24.770889     12.106033   354.986912   143.502890   13.192648
min       78.290000     57.440000   879.170000  1503.010000   48.160000
25%      102.820000     86.830000  1589.772500  1901.960000   66.552500
50%      130.635000     95.015000  1860.960000  1990.630000   78.710000
75%      146.950000    100.512500  2116.162500  2076.865000   86.532500
max      177.580000    107.340000  2404.740000  2261.280000  103.540000

       MSCI DENMARK  ...  MSCI NORWAY    MSCI PERU  MSCI RUSSIA  \
count    252.000000  ...   252.000000   252.000000   252.000000
mean    8447.657738  ...  2720.597183  1460.507817   595.207738
std      978.216958  ...   292.192348   284.660584    92.229158
min     6671.370000  ...  2049.320000   720.230000   344.450000
25%     7912.862500  ...  2509.495000  1224.482500   536.347500
50%     8227.805000  ...  2795.265000  1555.135000   594.125000
75%     8554.552500  ...  2985.502500  1692.932500   643.987500
max    11852.360000  ...  3217.240000  1892.670000   852.930000

       MSCI SINGAPORE  MSCI SOUTH AFRICA  MSCI SPAIN   MSCI SWEDEN  \
count      252.000000         252.000000  252.000000    252.000000
mean      1618.220755        1348.088135  106.673413  12385.389048
std        157.305041          93.417184   12.367770   1101.073211
min       1263.900000         942.480000   76.340000   9901.400000
25%       1478.917525        1295.695000   99.715000  11769.345000
50%       1666.280000        1351.055000  109.280000  12526.645000
75%       1728.582500        1403.500000  114.397500  12975.560000
max       1920.630000        1591.700000  128.220000  14989.150000

       MSCI SWITZERLAND      MSCI UK     MSCI USA
count        252.000000   252.000000   252.000000
mean        1208.081468  2013.187579  2526.448532
std          113.761591   181.105639   382.318512
min         1001.930000  1484.410000  1768.520000
25%         1131.110000  1937.375000  2242.712500
50%         1194.815000  2081.695000  2559.080000
75%         1299.405000  2146.630000  2777.425000
max         1484.520000  2255.520000  3386.440000

[8 rows x 35 columns]

In [ ]:
# Assigning random weights of 0.3, 0.4 and 0.3 to each mean
# Choosing MSCI Singapore as consideration factor

Median_returns = 0.3*data['MSCI SINGAPORE'].describe(percentiles=[0.5])
Mean_returns = 0.3*data['MSCI SINGAPORE'].mean()
Mean_5p_returns = 0.4*(stats.trim_mean(data['MSCI SINGAPORE'], 0.05))

In [ ]:
print('Returns on 5% trim mean series is :' + str(Mean_5p_returns))
print('Returns on Median series is :' + str(Median_returns['50%']))
print('Returns on Mean series is :' + str(Mean_returns))

Returns on Median series is :499.884
Returns on Mean series is :485.4662264285715
Returns on 5% trim mean series is :647.5355442105264